.DS_Store
.idea/
__pycache__/
*.pyc
.build/

mememover_export/
RecoveredFavorites/
favorites.json
fav.archive
summary.json
persistence_manifest.json
thumb_manifest.json
recovered_favorites_manifest.json
test/
